/* #region-main-area.login {
   background: url('../images/Patrick_Street_Cork2.jpg') fixed;
   background-size: cover;
   padding: 0;
   margin: 0;
   height: 100%;
 }*/

 .form-holder {
   background: rgba(255,255,255,0.2);
   margin-top: 10%;
   border-radius: 3px;
 }

 .form-head {
   font-size: 30px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #fff;
   text-shadow: 0 0 30px #000;
   margin: 15px auto 30px auto;
 }

 .remember-me {
   text-align: left;
 }
 .ui.checkbox label {
   color: #ddd;
 }



 #region-main-area.login {
   background-color: #DADADA;
   /*background: url('../images/shandonbells.jpg') fixed;*/
   background-size: cover;
   padding: 0;
   margin: 0;
   height: 100%;

}

/*.form-holder {
  background: rgba(255,255,255,0.2);
  margin-top: 10%;
  border-radius: 3px;
}*/

.form-head {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 30px #000;
  margin: 15px auto 30px auto;
}
/*
.loginView {
   height: 100%;
}*/

/*body >  .login > .loginView > .grid {
   height: 100%;
}*/
.image {
   margin-top: -100px;
}
.column {
   max-width: 450px;
}

.form-holder{
   background-color: white;
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   padding: 5px 5px 5px 5px;
}

.submit.button {
   margin: 5px 5px 5px 5px;
.submit-card {
  border: 1px solid lightgrey;
  padding: 18px;
  margin: 30px 20px 0 40px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  background: rgba(78, 82, 81, 0.5);
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
}

.show-event-card {
  border: 1px solid;
  margin: 50px;
}