<div class="ui middle aligned center aligned grid">
  <div class="ten wide form-holder">

      <div class="ui large form">
        <div class="field">
          <label>Event Name</label>
          <input type="text" placeholder="Name">
        </div>
        <div class="field">
          <label>Date</label>
          <input type="text" placeholder="Date">
        </div>
        <div class="field">
          <label>Place</label>
          <input type="text" placeholder="Place">
        </div>
        <div class="field">
          <label>Details</label>
          <textarea></textarea>
        </div>

    </div>
    <div class="ui submit button">Submit</div>

<!-- <div class="ui grid">
  <div class="ten wide column submit-card">
    <div class="ui large form">
      <div class="field">
        <label>Event Name</label>
        <input type="text" placeholder="Name">
      </div>
      <div class="field">
        <label>Date</label>
        <input type="text" placeholder="Date">
      </div>
      <div class="field">
        <label>Place</label>
        <input type="text" placeholder="Place">
      </div>
      <div class="field">
        <label>Details</label>
        <textarea></textarea>
      </div>
      <div class="ui fluid large submit button">Submit your Event</div>
    </div> -->
  </div>
</div>