<div class="ui middle aligned center aligned grid">
  <div class="ten wide form-holder">

  <div class="ui large form">
    <div class="field">
      <label>Event Name</label>
      <input type="text" placeholder="Name">
    </div>
    <div class="field">
      <label>Date</label>
      <input type="text" placeholder="Date">
    </div>
    <div class="field">
      <label>Place</label>
      <input type="text" placeholder="Place">
    </div>
    <div class="field">
      <label>Details</label>
      <textarea></textarea>
    </div>
</div>
  </div>
</div>